.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* 🔥 лучше чем space-around */
  align-items: center;
  padding: 15px 20px;

  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* LOGO */
.logo {
  font-size: 14px;
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.logo:hover {
  color: orange;
  cursor: pointer;
}

/* NAV (mobile hidden) */
.nav {
  display: none;
}

/* BURGER */
.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* LINKS */
.link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  position: relative;
  font-size: 12px;
}

.link:hover {
  color: orange;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: orange;
  transition: 0.3s;
}

.link:hover::after {
  width: 100%;
}

/* ACTIVE LINK */
.active {
  color: orange;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

/* 🔥 добавляем underline для активного */
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: orange;
}



/* ===== DESKTOP ===== */
@media (min-width: 600px) {
  .header {
    justify-content: space-around;
  }

  .logo {
    font-size: 26px;
  }

  .link {
    font-size: 16px;
  }

  .nav {
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }

  .burger {
    display: none;
  }
}

